<!DOCTYPE html>
<html long="en">
<head>
    <meta charset="UTF-8"/>
    <title>Sending Email</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
<h1>Send Email</h1>
<form action="#" class="form-contact">
    <input id="name" type="text" placeholder="Enter your name...">
    <input id="email" type="text" placeholder="Enter Email...">
    <input id="phone" type="text" placeholder="Enter Phone number...">>
    <input id="msg" type="text" placeholder="Enter Contact...">>
    <input id="submit" type="submit">
</form>
<script src="../static/js/main.js"></script>
</body>
</html>