<!DOCTYPE html>
<html xmlns:th = "https://www.thymeleaf.org/">

<head>
    <title>BitMinerMart Home Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="../static/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{img/favicon.ico}">
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/templatemo.css}">
    <link rel="stylesheet" th:href="@{css/custom.css}">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" th:href="@{css/fontawesome.min.css}">
    <!--

    TemplateMo 559 Zay Shop

    https://templatemo.com/tm-559-zay-shop

    -->
</head>

<body>

<!-- Start Top Nav -->
<nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
    <div class="container text-light">
        <div class="w-100 d-flex justify-content-between">
            <!--                <div>-->
            <!--                    <i class="fa fa-envelope mx-2"></i>-->
            <!--                    <a class="navbar-sm-brand text-light text-decoration-none" href="mailto:info@company.com">info@company.com</a>-->
            <!--                    <i class="fa fa-phone mx-2"></i>-->
            <!--                    <a class="navbar-sm-brand text-light text-decoration-none" href="tel:010-020-0340">010-020-0340</a>-->
            <!--                </div>-->
            <!--                <div>-->
            <!--                    <a class="text-light" href="https://fb.com/templatemo" target="_blank" rel="sponsored"><i class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>-->
            <!--                    <a class="text-light" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram fa-sm fa-fw me-2"></i></a>-->
            <!--                    <a class="text-light" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter fa-sm fa-fw me-2"></i></a>-->
            <!--                    <a class="text-light" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin fa-sm fa-fw"></i></a>-->
            <!--                </div>-->
        </div>
    </div>
</nav>
<!-- Close Top Nav -->


<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light shadow">
    <div class="container d-flex justify-content-between align-items-center">

        <a class="navbar-brand align-self-center" th:href="@{/}">
            <img th:src="@{img/BitMinerMart Logo.png}" alt="BitMinerMart Logo" height="50">
        </a>

        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
            <div class="flex-fill">
                <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/about}">About</a>
                    </li>
                    <!--                        <li class="nav-item">-->
                    <!--                            <a class="nav-link" href="shop.html">Shop</a>-->
                    <!--                        </li>-->
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/contact}">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="navbar align-self-center d-flex">
                <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
                    <div class="input-group">
                        <input type="text" class="form-control" id="inputMobileSearch" placeholder="Search ...">
                        <div class="input-group-text">
                            <i class="fa fa-fw fa-search"></i>
                        </div>f
                    </div>
                </div>
                <a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal" data-bs-target="#templatemo_search">
                    <i class="fa fa-fw fa-search text-dark mr-2"></i>
                </a>
                <!--                    <a class="nav-icon position-relative text-decoration-none" href="#">-->
                <!--                        <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>-->
                <!--                        <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">7</span>-->
                <!--                    </a>-->
                <!--                    <a class="nav-icon position-relative text-decoration-none" href="#">-->
                <!--                        <i class="fa fa-fw fa-user text-dark mr-3"></i>-->
                <!--                        <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">+99</span>-->
                <!--                    </a>-->
            </div>
        </div>

    </div>
</nav>
<!-- Close Header -->

<!-- Modal -->
<div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="w-100 pt-1 mb-5 text-right">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form th:action="@{/home-search}" method="get" class="modal-content modal-body border-0 p-0">
            <div class="input-group mb-2" >
                <input type="text" class="form-control" id="inputModalSearch" name="keyword" placeholder="Search ...">
                <button type="submit" class="input-group-text bg-success text-light">
                    <i class="fa fa-fw fa-search text-white"></i>
                </button>
            </div>
        </form>
    </div>
</div>



<!-- Start Banner Hero -->
<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" th:src="@{/img/miner/antd.jpg}" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1 text-success"><b>AntMiner D7</b></h1>
                            <h3 class="h2">Our Best Selling Miner</h3>
                            <!--                                <p>-->
                            <!--                                    Zay Shop is an eCommerce HTML5 CSS template with latest version of Bootstrap 5 (beta 1). -->
                            <!--                                    This template is 100% free provided by <a rel="sponsored" class="text-success" href="https://templatemo.com" target="_blank">TemplateMo</a> website. -->
                            <!--                                    Image credits go to <a rel="sponsored" class="text-success" href="https://stories.freepik.com/" target="_blank">Freepik Stories</a>,-->
                            <!--                                    <a rel="sponsored" class="text-success" href="https://unsplash.com/" target="_blank">Unsplash</a> and-->
                            <!--                                    <a rel="sponsored" class="text-success" href="https://icons8.com/" target="_blank">Icons 8</a>.-->
                            <!--                                </p>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" th:src="@{/img/miner/ante.jpg}" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1">AntMiner E9</h1>
                            <h3 class="h2">Best Budget Miner</h3>
                            <!--                                <p>-->
                            <!--                                    You are permitted to use this Zay CSS template for your commercial websites. -->
                            <!--                                    You are <strong>not permitted</strong> to re-distribute the template ZIP file in any kind of template collection websites.-->
                            <!--                                </p>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" th:src="@{img/miner/ipov.webp}" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1">iPollo</h1>
                            <h3 class="h2">Our Home-Friendly compact miner </h3>
                            <!--                                <p>-->
                            <!--                                    We bring you 100% free CSS templates for your websites. -->
                            <!--                                    If you wish to support TemplateMo, please make a small contribution via PayPal or tell your friends about our website. Thank you.-->
                            <!--                                </p>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
        <i class="fas fa-chevron-left"></i>
    </a>
    <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
        <i class="fas fa-chevron-right"></i>
    </a>
</div>
<!-- End Banner Hero -->
<div class="d-flex justify-content-center"><h2 class="h2">Current Cryptocurrency Prices</h2></div>
<div class="container-fluid" id="coin-list">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead class="bg-success bg-gradient text-dark">
            <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>Symbol</th>
                <th>Price (USD)</th>
                <th>Market Cap (USD)</th>
                <th>24h Change</th>
            </tr>
            </thead>
            <tbody id="table-body">
            </tbody>
        </table>
    </div>
</div>
<!-- include Bootstrap JS and jQuery -->
<script th:src="@{/js/keys.js}"></script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    // console.log(COIN_API_KEY);
    const MAX_CURRENCIES = 5;
    fetch(`https://cors-anywhere.herokuapp.com/https://pro-api.coinmarketcap.com/v1/cryptocurrency/listings/latest?CMC_PRO_API_KEY=`+ COIN_API_KEY)
        .then(response => response.json())
        .then(data => {
            const tableBody = document.getElementById('table-body');
            data.data.slice(0, MAX_CURRENCIES).forEach(currency => {
                const row = `
                                    <tr>
                                      <td>${currency.cmc_rank}</td>
                                      <td>${currency.name}</td>
                                      <td>${currency.symbol}</td>
                                      <td>${currency.quote.USD.price.toFixed(2)}</td>
                                      <td>${currency.quote.USD.market_cap.toLocaleString()}</td>
                                      <td>${currency.quote.USD.percent_change_24h.toFixed(2)}%</td>
                                    </tr>
                                  `;
                tableBody.innerHTML += row;
            });
        })
        .catch(error => console.error(error));
</script>

<!--                <div>-->
<!--                    <iframe src="https://widget.nicehash.com/profcalc" width="400" height="350" scrolling="yes" id="nhiframe"></iframe>-->
<!--                </div>-->


</div>
<!-- /.container-fluid -->
</div>
</div>


<!-- Start Categories of The Month -->
<!--    <section class="container py-5">-->
<!--        <div class="row text-center pt-3">-->
<!--            <div class="col-lg-6 m-auto">-->
<!--                <h1 class="h1">Categories of The Month</h1>-->
<!--                <p>-->
<!--                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia-->
<!--                    deserunt mollit anim id est laborum.-->
<!--                </p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-12 col-md-4 p-5 mt-3">-->
<!--                <a href="#"><img src="../static/img/category_img_01.jpg" class="rounded-circle img-fluid border"></a>-->
<!--                <h5 class="text-center mt-3 mb-3">Watches</h5>-->
<!--                <p class="text-center"><a class="btn btn-success">Go Shop</a></p>-->
<!--            </div>-->
<!--            <div class="col-12 col-md-4 p-5 mt-3">-->
<!--                <a href="#"><img src="../static/img/category_img_02.jpg" class="rounded-circle img-fluid border"></a>-->
<!--                <h2 class="h5 text-center mt-3 mb-3">Shoes</h2>-->
<!--                <p class="text-center"><a class="btn btn-success">Go Shop</a></p>-->
<!--            </div>-->
<!--            <div class="col-12 col-md-4 p-5 mt-3">-->
<!--                <a href="#"><img src="../static/img/category_img_03.jpg" class="rounded-circle img-fluid border"></a>-->
<!--                <h2 class="h5 text-center mt-3 mb-3">Accessories</h2>-->
<!--                <p class="text-center"><a class="btn btn-success">Go Shop</a></p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
<!-- End Categories of The Month -->


<!-- Start Featured Product -->
<section class="bg-light">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Product Inventory</h1>
                <p>
                    Shop with confidence.
                </p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div th:each="product: ${products}" class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="shop-single.html">
                            <img alt="AntMiner S" th:if="${product.category.id == 1}" th:src="@{/img/miner/ants.jpg}" style="height: 300px; width: 300px;">
                            <img alt="AntMiner D" th:if="${product.category.id == 2}" th:src="@{/img/miner/antd.jpg}" style="height: 300px; width: 300px;">
                            <img alt="AntMiner E" th:if="${product.category.id == 3}" th:src="@{/img/miner/ante.jpg}" style="height: 300px; width: 300px;">
                            <img alt="AntMiner K" th:if="${product.category.id == 4}" th:src="@{/img/miner/antk.jpg}" style="height: 300px; width: 300px;">
                            <img alt="AntMiner L" th:if="${product.category.id == 5}" th:src="@{/img/miner/antl.jpg}" style="height: 300px; width: 300px;">
                            <img alt="AvalonMiner" th:if="${product.category.id == 6}" th:src="@{/img/miner/aval.jpg}" style="height: 300px; width: 300px;">
                            <img alt="iPollo V" th:if="${product.category.id == 7}" th:src="@{/img/miner/ipov.webp}" style="height: 300px; width: 300px;">
                            <img alt="iPollo G" th:if="${product.category.id == 8}" th:src="@{/img/miner/ipog.webp}" style="height: 300px; width: 300px;">
                            <img alt="WhatsMiner D" th:if="${product.category.id == 9}" th:src="@{/img/miner/whatd.webp}" style="height: 300px; width: 300px;">
                            <img alt="WhatsMiner M" th:if="${product.category.id == 10}" th:src="@{/img/miner/whatm.webp}" style="height: 300px; width: 300px;">
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li class="text-muted text-right" th:text="'$'+${product.costPrice}"></li>
                            </ul>
                            <a href="shop-single.html" class="h2 text-decoration-none text-dark" th:text="${product.name}"></a>
                            <p class="card-text" th:text="${product.description}"></p>
                            <p class="text-muted" th:text="${product.category.name}"></p>
                        </div>
                    </div>
                </div>

</section>

<!-- End Featured Product -->

<!--    Profitability Calculator-->
<div class="d-flex justify-content-center"><h2 class="h2">Bitcoin Miner Profitability Calculator</h2></div>
<div class="d-flex justify-content-center">
    <iframe src="https://widget.nicehash.com/profcalc" width="100%" height="350" scrolling="yes" id="nhiframe"></iframe>
</div>

<!--    End Profitability Calculator-->

<!-- Start Footer -->
<footer class="bg-dark" id="tempaltemo_footer">
    <div class="container">
        <div class="row">

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-success border-bottom pb-3 border-light logo">BitMinerMart</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li>
                        <i class="fas fa-map-marker-alt fa-fw"></i>
                        900 Jackson St Suite #410, Dallas,TX 75202
                    </li>
                    <li>
                        <i class="fa fa-phone fa-fw"></i>
                        <a class="text-decoration-none" href="tel:000-000-0000">000-000-0000</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope fa-fw"></i>
                        <a class="text-decoration-none" href="mailto:info@company.com">info@BitminerMart.com</a>
                    </li>
                </ul>
            </div>

            <!--                <div class="col-md-4 pt-5">-->
            <!--                    <h2 class="h2 text-light border-bottom pb-3 border-light">Products</h2>-->
            <!--                    <ul class="list-unstyled text-light footer-link-list">-->
            <!--                        <li><a class="text-decoration-none" href="#">Luxury</a></li>-->
            <!--                        <li><a class="text-decoration-none" href="#">Sport Wear</a></li>-->
            <!--                        <li><a class="text-decoration-none" href="#">Men's Shoes</a></li>-->
            <!--                        <li><a class="text-decoration-none" href="#">Women's Shoes</a></li>-->
            <!--                        <li><a class="text-decoration-none" href="#">Popular Dress</a></li>-->
            <!--                        <li><a class="text-decoration-none" href="#">Gym Accessories</a></li>-->
            <!--                        <li><a class="text-decoration-none" href="#">Sport Shoes</a></li>-->
            <!--                    </ul>-->
            <!--                </div>-->

            <!--                <div class="col-md-4 pt-5">-->
            <!--                    <h2 class="h2 text-light border-bottom pb-3 border-light">Further Info</h2>-->
            <!--                    <ul class="list-unstyled text-light footer-link-list">-->
            <!--                        <li><a class="text-decoration-none" href="#">Home</a></li>-->
            <!--                        <li><a class="text-decoration-none" href="#">About Us</a></li>-->
            <!--                        <li><a class="text-decoration-none" href="#">Shop Locations</a></li>-->
            <!--                        <li><a class="text-decoration-none" href="#">FAQs</a></li>-->
            <!--                        <li><a class="text-decoration-none" href="#">Contact</a></li>-->
            <!--                    </ul>-->
            <!--                </div>-->

        </div>

        <!--            <div class="row text-light mb-4">-->
        <!--                <div class="col-12 mb-3">-->
        <!--                    <div class="w-100 my-3 border-top border-light"></div>-->
        <!--                </div>-->
        <!--                <div class="col-auto me-auto">-->
        <!--                    <ul class="list-inline text-left footer-icons">-->
        <!--                        <li class="list-inline-item border border-light rounded-circle text-center">-->
        <!--                            <a class="text-light text-decoration-none" target="_blank" href="http://facebook.com/"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>-->
        <!--                        </li>-->
        <!--                        <li class="list-inline-item border border-light rounded-circle text-center">-->
        <!--                            <a class="text-light text-decoration-none" target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg fa-fw"></i></a>-->
        <!--                        </li>-->
        <!--                        <li class="list-inline-item border border-light rounded-circle text-center">-->
        <!--                            <a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/"><i class="fab fa-twitter fa-lg fa-fw"></i></a>-->
        <!--                        </li>-->
        <!--                        <li class="list-inline-item border border-light rounded-circle text-center">-->
        <!--                            <a class="text-light text-decoration-none" target="_blank" href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>-->
        <!--                        </li>-->
        <!--                    </ul>-->
        <!--                </div>-->
        <!--                <div class="col-auto">-->
        <!--                    <label class="sr-only" for="subscribeEmail">Email address</label>-->
        <!--                    <div class="input-group mb-2">-->
        <!--                        <input type="text" class="form-control bg-dark border-light" id="subscribeEmail" placeholder="Email address">-->
        <!--                        <div class="input-group-text btn-success text-light">Subscribe</div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
    </div>

    <!--        <div class="w-100 bg-black py-3">-->
    <!--            <div class="container">-->
    <!--                <div class="row pt-2">-->
    <!--                    <div class="col-12">-->
    <!--                        <p class="text-left text-light">-->
    <!--                            Copyright &copy; 2021 Company Name-->
    <!--                            | Designed by <a rel="sponsored" href="https://templatemo.com" target="_blank">TemplateMo</a>-->
    <!--                        </p>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->

</footer>
<!-- End Footer -->

<!-- Start Script -->
<script th:src="@{/js/jquery-1.11.0.min.js}"></script>
<script th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/templatemo.js}"></script>
<script th:src="@{/js/custom.js}"></script>
<!-- End Script -->
</body>

</html>