<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: header">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{img/favicon.ico}">
</head>


<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="fragments :: sidebar"></ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none text-dark rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>


                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - User Information -->
                    <li class="nav-item">
                        <a class="btn btn-danger" th:href="@{/logout}">Logout</a>
                    </li>

                </ul>

            </nav>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <div>
                    <form th:action="@{/search-result}" method="get">
                        <input type="text" id="search" name="keyword" placeholder="Search For Products">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </form>
                </div>
                <!--page heading-->
                <div th:if = "${size == 0}">
                    <p>NO PRODUCTS</p>
                </div>
                <div th:if = "${success}" class="text-center alert alert-success">
                    <p th:text="${success}"></p>
                </div>
                <div th:if="${error}" class="text-center alert alert-danger">
                    <p th:text="${error}"></p>
                </div>
                <a class="btn btn-primary" th:href="@{add-product}">Add new product
                </a>
                <table class="table table-hover text-dark" th:if = "${size > 0}">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Image</th>
                        <th scope="col">Update</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="product : ${products}">
                        <th scope="row" th:text="${product.name}"></th>
                        <td th:text="${product.category.name}"></td>
                        <td th:text="${product.costPrice}"></td>
                        <td th:text="${product.currentQuantity}"></td>
                                <!--img-->
                        <td>
                            <img alt="AntMiner S" th:if="${product.category.id == 1}" th:src="@{/img/miner/ants.jpg}" style="height: 100px; width: 100px;">
                            <img alt="AntMiner D" th:if="${product.category.id == 2}" th:src="@{/img/miner/antd.jpg}" style="height: 100px; width: 100px;">
                            <img alt="AntMiner E" th:if="${product.category.id == 3}" th:src="@{/img/miner/ante.jpg}" style="height: 100px; width: 100px;">
                            <img alt="AntMiner K" th:if="${product.category.id == 4}" th:src="@{/img/miner/antk.jpg}" style="height: 100px; width: 100px;">
                            <img alt="AntMiner L" th:if="${product.category.id == 5}" th:src="@{/img/miner/antl.jpg}" style="height: 100px; width: 100px;">
                            <img alt="AvalonMiner" th:if="${product.category.id == 6}" th:src="@{/img/miner/aval.jpg}" style="height: 100px; width: 100px;">
                            <img alt="iPollo V" th:if="${product.category.id == 7}" th:src="@{/img/miner/ipov.webp}" style="height: 100px; width: 100px;">
                            <img alt="iPollo G" th:if="${product.category.id == 8}" th:src="@{/img/miner/ipog.webp}" style="height: 100px; width: 100px;">
                            <img alt="WhatsMiner D" th:if="${product.category.id == 9}" th:src="@{/img/miner/whatd.webp}" style="height: 100px; width: 100px;">
                            <img alt="WhatsMiner M" th:if="${product.category.id == 10}" th:src="@{/img/miner/whatm.webp}" style="height: 100px; width: 100px;">
                        </td>

                                <!--update-->
                        <td><a th:href="@{/update-product/{id} (id=${product.id})}" class="btn text-black-50" style="background-color: #5dbea3">Update</a> </td>

                        <td>
                            <a th:if="${product.activated== false}"
                               th:href="@{/enable-product/{id} (id = ${product.id})}"
                               class="btn btn-warning">Enable</a>

                            <a th:if="${product.deleted == false}"
                               th:href="@{/delete-product/{id} (id = ${product.id})}"
                               class="btn btn-danger">Disable</a>
                        </td>
                    </tr>

                    </tbody>
                </table>

<!--       pages-->
<!--                <nav aria-label="Page navigation example">-->
<!--                    <ul class="pagination">-->

<!--                        <li th:if="${currentPage !=0}" class="page-item">-->
<!--                            <a th:href="@{'/products' + ${currentPage -1}}" class="page-link" href="#" aria-label="Previous">-->
<!--                                <span aria-hidden="true">&laquo;</span>-->
<!--                                <span class="sr-only">Previous</span>-->
<!--                            </a>-->
<!--                        </li>-->

<!--                        <li th:each="i : ${#numbers.sequence(1, totalPages)}"-->
<!--                            th:classappend="${currentPage == i -1 ? 'active' : ''}"-->
<!--                            class="page-item">-->
<!--                            <a th:href="@{'/products/' ${i - 1}}" class="page-link" href="#"></a>-->
<!--                        </li>-->

<!--                        <li th:if="${currentPage + 1 != totalPages}" class="page-item">-->
<!--                            <a th:href="@{'products/'+ ${currentPage + 1}}" class="page-link" href="#" aria-label="Next">-->
<!--                                <span aria-hidden="true">&raquo;</span>-->
<!--                                <span class="sr-only">Next</span>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </nav>-->
<!--                page end-->
            </div>
        </div>
        <!-- End of Main Content -->


    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>



<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!--categories js for api from db-->
<script th:src="@{/js/categories.js}"></script>

</body>

</html>